@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --base-light : #E7F6F2;
  --base-dark : #2C3333;
  --base-blue : #395B64;
  --base-light-blue : #A5C9CA;
  --links : #0c264d;
} 

html {
  scroll-behavior: smooth;
  overflow-x: none;
}

a {
  color: var(--links);
  text-decoration: underline;
}

body {
  background: rgb(165,201,202);
  background: linear-gradient(114deg, rgba(165,201,202,1) 20%, rgba(231,246,242,1) 100%);
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.main-form {
  width: 400px;
  color: var(--base-dark);
  border-radius: 10px;
  margin: auto;
  padding: 25px;
  margin-top: 20vh;
  margin-bottom: 20vh;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: -2px 4px 101px -4px rgba(0,0,0,0.56);
  border: 1px solid var(--base-dark);
}


.main-form-register {
  width: 400px;
  color: var(--base-dark);
  border-radius: 10px;
  margin: auto;
  padding: 25px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin-top: 12vh;
  margin-bottom: 20vh;
  box-shadow: -2px 4px 101px -4px rgba(0,0,0,0.56);
  border: 1px solid var(--base-dark);
}

.input-bar {
  margin: 10px 0px 10px 0px;
  width: 98%;
  height: 35px;
  border-radius: 10px;
  border: none;
  outline: 1px solid var(--base-dark);
  padding: 5px 5px 5px 10px;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: transparent;
}

::-webkit-input-placeholder { /* Edge */
  color: var(--base-dark);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--base-dark);
}

::placeholder {
  color: var(--base-dark);
}

.btn-login {
  outline: none;
  border: none;
  background-color: var(--base-dark);
  color: var(--base-light);
  text-align: center;
  width: 40%;
  margin: 10px auto;
  display: block;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-register {
  outline: none;
  border: none;
  background-color: var(--base-dark);
  color: var(--base-light);
  text-align: center;
  width: 40%;
  margin: 17px auto;
  display: block;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-login:hover {
  outline: 1px solid var(--base-dark);
  background-color: transparent;
  transition: 0.4s;
  color: var(--base-dark);
}

.btn-register:hover {
  outline: 1px solid var(--base-dark);
  background-color: transparent;
  transition: 0.4s;
  color: var(--base-dark);
}

.register-prompt {
  margin-bottom: -10px;
  font-size: 12px;
  opacity: 0.8;
}

.prompt {
  font-size: 12px;
  opacity: 0.8;
}

.ehe {
  width: 280px;
  height: 160px;
  border: 2px solid var(--base-dark);
}



@media screen and (max-width: 768px) {
  body, html {
      background-repeat: no-repeat;
      scroll-behavior: smooth;
      scroll-snap-type: none;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
  }

  .main-form {
    width: 330px;
    color: var(--base-dark);
    border-radius: 10px;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 25px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: -2px 4px 101px -4px rgba(0,0,0,0.56);
    border: 1px solid var(--base-dark);
  }
  
  .main-form-register {
    width: 330px;
    color: var(--base-dark);
    border-radius: 10px;
    margin: auto;
    padding: 25px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-top: 10vh;
    margin-bottom: 10vh;
    box-shadow: -2px 4px 101px -4px rgba(0,0,0,0.56);
    border: 1px solid var(--base-dark);
  }
}