@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
   --base-light : #E7F6F2;
   --base-dark : #2C3333;
   --base-blue : #395B64;
   --base-light-blue : #A5C9CA;
   --links : #0c264d;
} 

html {
  scroll-behavior: smooth;
  overflow-x: none;
}

/* Width */
::-webkit-scrollbar {
    width: 7px;
}

/* Background */
::-webkit-scrollbar-track {
    background: var(--base-light);
}

/*The Scrollbar itself*/
::-webkit-scrollbar-thumb {
    background: var(--base-dark);
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--base-blue);
}

a {
  color: var(--links);
  text-decoration: underline;
}

body {
  background: rgb(165,201,202);
  background: linear-gradient(114deg, rgba(165,201,202,1) 20%, rgba(231,246,242,1) 100%);
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

nav {
    background-color: transparent;
    border-bottom: 1px solid var(--base-dark);
}

.logo-nav {
    height: 45px;
    width: auto;
}

.logo-greeting {
    height: 140px;
    width: auto;
}

.button-login {
    background-color: var(--base-dark);
    color: var(--base-light);
    padding: 10px 20px 10px 20px;
    width: 90px;
    border-radius: 10px;
    transition: 0.4s;
    border: 1px solid var(--base-dark);
}

.button-login:hover {
    background-color: transparent;
    color: var(--base-dark);
    transition: 0.4s;
    border: 1px solid var(--base-dark);
}

.landing-wrapper {
    display: flex;
    flex-direction: row;
    gap : 0;
    height: 90vh;
}

.left-side {
    color: var(--base-dark);
    margin: 0 auto;
    padding: 70px;
    width: 60%;
}

.right-side {
    color: var(--base-dark);
    margin: 0 auto;
    padding: 100px;
    width: 40%;
    text-align: center;
}

.greeting {
    margin-top: 16vh;
    font-size: 5em;
}

.learn-more {
    background-color: var(--base-dark);
    color: var(--base-light);
    padding: 10px 20px 10px 20px;
    width: 150px;
    border-radius: 10px;
    transition: 0.4s;
    border: 1px solid var(--base-dark);
    margin: 0 auto;
}

.learn-more:hover {
    background-color: transparent;
    color: var(--base-dark);
    transition: 0.4s;
    border: 1px solid var(--base-dark);
}

.right-side-content {
    margin-top: 25vh
}

.about {
    text-align: center;
    height: 100vh;
    padding: 100px;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.about-left-side {
    color: var(--base-dark);
    margin: 0 auto;
    padding: 100px;
    width: 50%;
    text-align: left;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 80px;
    border-radius: 10px;
    box-shadow: -2px 4px 101px -4px rgba(0,0,0,0.56);
    border: 1px solid var(--base-dark);
}

.about-right-side {
    color: var(--base-dark);
    margin: 0 auto;
    padding: 100px;
    width: 50%;
    text-align: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 80px;
    border-radius: 10px;
    box-shadow: -2px 4px 101px -4px rgba(0,0,0,0.56);
    border: 1px solid var(--base-dark);
}

.logo-social {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.pricing {
    text-align: center;
    height: 200vh;
    padding: 40px;
}

.price-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.prices {
    height: 550px;
    width: 330px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--base-dark);
    padding: 20px;
    margin: 0 auto;
}

.services {
    text-align: left;
    height: 250px;
}

.teams {
    text-align: center;
    height: 60vh;
    padding: 20px;
}

.teams-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0 auto;
}

.teams-items {
    margin: 0 auto;
    text-align: center;
    width: 200px;
}

.teams-items img {
    width: 100px;
    height: auto;
    margin: 5px;
}



@media screen and (max-width: 768px) {
    body, html {
        background-repeat: no-repeat;
        scroll-behavior: smooth;
        scroll-snap-type: none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .landing-wrapper {
        display: flex;
        flex-direction: column;
        gap : 0;
    }

    .left-side {
        color: var(--base-dark);
        margin: 0 auto;
        padding: 40px;
        width: 100%;
    }
    
    .right-side {
        color: var(--base-dark);
        margin: 0 auto;
        padding: 90px;
        width: 100%;
    }

    .greeting {
        margin-top: 20vh;
        font-size: 3em;
    }

    .logo-greeting {
        height: 100px;
        width: auto;
    }

    .about {
        margin-top: 400px;
        padding: 10px;
    }

    .about-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-left-side {
        color: var(--base-dark);
        margin: 0 auto;
        padding: 20px;
        width: 100%;
    }
    
    .about-right-side {
        color: var(--base-dark);
        margin: 0 auto;
        padding: 20px;
        width: 100%;
    }

    .teams-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0 auto;
    }
}

